* {
    padding: 0px;
    margin: 0px;
    font-family: 'Arvo', serif;
  }
  
  body {
    background-color: #9ACAEB !important;
  }


.enlace  a{
    text-decoration:none;
    cursor: pointer;
    color:white
  }

